doctype html
html
  head
    meta(charset='utf-8')
    title silky
  body
    script(src="./silky.js", charset="utf-8")
      
    #sample
      
    script#sample-template(type="text/silky")
      #foo
        input(type="text", value="{{foo}}")
        input(type="text", value="{{bar}}")
        input(type="text", value="{{baz}}")
        span {{foo}}
        span {{bar}}
        span {{baz}}
            
    script(type="text/javascript").
      var data = silky.new({
        el: "sample",
        template: "sample-template",
        data: {
            foo: "foo",
            bar: "bar",
            baz: "baz"
        }
      });
      
      
      